body
  color: var(--text-color)
  font: 400 16px/1.85 Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, "Microsoft JhengHei", "MicrMicrosoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  box-sizing: border-box;
  background-color: var(--bg-color)

a
  color: var(--link-color)
  text-decoration: none

  &:hover
    color: var(--text-color)